body {
	color: #F0F0F0;
}

.btn-default {
	border: none !important;
	border-radius: 0px !important;
	background-image: none !important;
	background-color: transparent;
	color: #F0F0F0;
}

.dropdown-menu {
	border: none !important;
	border-radius: 0px !important;
	background-image: none !important;
	background-color: transparent;
	color: #F0F0F0;
}